{
    "presets": ["env"],
    "plugins": [
        "tailcall-optimization",
        "minify-constant-folding",
        "babel-plugin-loop-optimizer",
        "babel-plugin-loop-optimizer",
        "closure-elimination"
    ]
}
