{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true,
        "jquery": true,
        "jest": true
    },
    "globals": {},
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "lodash-fp"
    ],
    "rules": {
        "no-restricted-imports" : ["error", {
            "patterns": ["deprecation/*"]
        }],
        "no-console": "off",
        "lodash-fp/no-chain": "error",
        "react/no-danger-with-children": "error",
        "react/forbid-prop-types": [
            "error",
            {
                "forbid": [
                    "any"
                ]
            }
        ],
        "react/jsx-no-bind": [
            "error",
            {
                "ignoreRefs": true,
                "allowArrowFunctions": true,
                "allowBind": false
            }
        ],
        "react/jsx-boolean-value": "error",
        "react/no-unused-prop-types": [
            "error",
            {
                "customValidators": [
                ],
                "skipShapeProps": false
            }
        ],
        "react/no-unescaped-entities": "error",
        "react/no-children-prop": "error",
        "no-delete-var": "error",
        "prefer-const": "warn",
        "arrow-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "no-debugger": "warn",
        "no-dupe-keys": "error",
        "no-unreachable": "error",
        "use-isnan": "error",
        "react/jsx-uses-vars": 1,
        "react/react-in-jsx-scope": 1,
        "react/jsx-uses-react": [
            "error"
        ],
        "react/require-render-return": "error",
        "react/sort-comp": [
            "error",
            {
                "order": [
                    "static-methods",
                    "lifecycle",
                    "/^on.+$/",
                    "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
                    "everything-else",
                    "/^render.+$/",
                    "render"
                ]
            }
        ],
        "react/jsx-indent": [
            "warn",
            4
        ],
        "react/no-deprecated": [
            "error"
        ],
        "react/prefer-stateless-function": "error",
        "valid-jsdoc": "warn",
        "react/no-did-update-set-state": [
            "error"
        ],
        "react/prefer-es6-class": [
            "error",
            "always"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "warn",
            "always"
        ],
        "curly": [
            "error",
            "multi-line",
            "consistent"
        ]
    }
}
