version: 2 # use CircleCI 2.0
jobs: # a collection of steps
  build: # runs not using Workflows must have a `build` job as entry point
    working_directory: ~/node-starter # directory where steps will run
    docker: # run the steps with Docker
      - image: circleci/node:16.5.0 # ...with this image as the primary container; this is where all `steps` will run
    steps: # a collection of executable commands
      - checkout # special step to check out source code to working directory
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Install JUnit coverage reporter
          command: yarn add --dev jest-junit
      - run: # run tests
          name: test-ci
          command: |
              mkdir -p ./reports/junit
              yarn test-ci
          environment:
              JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
              JEST_JUNIT_OUTPUT: ./reports/junit/js-test-results.xml
      - store_test_results:
          path: ./reports/junit
      - store_artifacts:
          path: ./reports/junit
