version: 2.1
orbs:
  node: circleci/node@5.0.2

jobs:
  build:
    docker:
      - image: cimg/node:16.15.0 
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn test
          name: Run tests
      - run:
          command: yarn build
          name: Build app
      - persist_to_workspace:
          root: ~/project
          paths:
            - .

  deploy:
    docker:
      - image: cimg/node:16.15.0 
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Disable jekyll builds
          command: touch ./public/.nojekyll
      - run:
          name: Add github.com to known hosts
          command: mkdir -p "~/.ssh" && touch "~/.ssh/known_hosts" && ssh-keyscan github.com >> ~/.ssh/known_hosts
      - add_ssh_keys:
          fingerprints:
            - "c1:f7:13:59:3a:ec:22:77:e7:4d:c6:ce:aa:77:d0:82"
      - run:
          command: echo 'stid.me' > ./public/CNAME && yarn gh-pages --message "[skip ci] Updates" -d public
          name: Deploy github Pages



workflows:
  test:
    jobs:
      - build
      - deploy:
          requires:
            - build # only deploy if the build_and_test job has completed
          filters:
            branches:
              only: master # only deploy when on main
