version: 2.1
orbs:
  node: circleci/node@5.0.2

jobs:
  build_and_test:
    docker:
      - image: cimg/node:16.15.0 
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn test
          name: Run tests
      - run:
          command: yarn build
          name: Build app
      - persist_to_workspace:
          root: ~/project
          paths:
            - .

  deploy: # this can be any name you choose
    docker:
      - image: cimg/node:16.15.0 
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Disable jekyll builds
          command: touch build/.nojekyll
      - run:
          command: echo 'stid.me' > ./public/CNAME && gh-pages --message "[skip ci] Updates" -d public
          name: Deploy github Pages


workflows:
  test:
    jobs:
      - build_and_test
      - deploy:
          requires:
            - build_and_test # only deploy if the build_and_test job has completed
          filters:
            branches:
              only: master # only deploy when on main
